* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: honeydew;
    margin: 15px;
}

ul {
    list-style: none;
}

#chat-container {
    max-width: 1200px;
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
}

.chat-header {
    background: seagreen;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    text-align: center;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: mediumseagreen;
    color: #fff;
    padding: 20px 20px 60px;
    overflow-y: scroll;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 10px 0;
}

#messages {
    padding: 30px;
    max-height: 600px;
    overflow-y: scroll;
}

#messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: honeydew;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.form-container {
    padding: 20px 30px;
    background-color: seagreen;
}

.form-container form {
    display: flex;
}

.form-container input[type="text"] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

#send-button {
    cursor: pointer;
    padding: 5px 15px;
    background-color: honeydew;
    color: seagreen;
    border: 0;
    font-size: 18px;
}
